{% extends "tascaty/base.html" %}
{% load static %}

{% block mystyle %}
    <style>
        ul
{
list-style-type: none;
padding: 0;
margin: 0;
text-align: left;
}
    </style>
{% endblock mystyle %}    
</head>

{% block content %}    
    <div class="row">
        <div class="col-md-3 col-10 mx-auto">
            <br><br>
            <h4 class="text-center">Please Change your Password or go <a href="{% url 'profile' %}">back</a></h4>
            <br>
            <form method="POST">
                {% csrf_token %}

                <!-- {{ form.as_p }}-->
                <p>

                    <!-- <label for="id_old_password"><strong>Old password:</strong></label>-->

                    <input class="form-control" type="password" name="old_password" autofocus="" required="" id="id_old_password"
                        placeholder="Old Password">
                </p>
                <p>
                    <!-- <label for="id_new_password1"><strong>New password:</strong></label>-->
                    <input class="form-control" type="password" name="new_password1" required="" id="id_new_password1"
                        placeholder="New Password">
                    <span class="helptext"></span>
                </p>
                <ul>
                    <li>Password can't be too similar to username/email.</li>
                    <li>Password must contain at least 8 characters.</li>
                    <li>Password can't be a commonly used password.</li>
                    <li>Password can't be entirely numeric.</li>
                </ul>
                <p></p>
                <p>
                    <!--  <label for="id_new_password2"><strong>New password confirmation:</strong></label>-->

                    <input class="form-control" type="password" name="new_password2" required="" id="id_new_password2"
                        placeholder="New Password Confirmation">
                </p>
                <span style='margin-bottom: 12px;'></span>
                <button class="btn btn-secondary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% endblock content %}
    